[2017-08-07 15:37] timothysc opened #1 "Provide a sample configuration for sonobuoy."
There are some questions about what data we should collect as part of a sonobuoy run.  Ideally we (the k8s-conformance-group) can establish a default set that can be used by another tool to validate.

For example the default configuration in the quickstart is listed here: https://github.com/heptio/sonobuoy/blob/master/examples/quickstart/10-configmaps.yaml#L23

[2017-09-08 23:08] mml commented on #1
I've tried to strip it down as much as possible and am currently using https://gist.github.com/mml/17f94ff8308ba7712e7c40a10da72b6a

That's no resources, only the e2e plugin, and running all the `[Conformance]` tests.

[2017-09-29 21:56] WilliamDenniss commented on #1
Resolved in #2

[2017-09-29 21:56] #1 closed

[2017-10-04 22:03] smarterclayton opened #6 "Client version matching server version doesn't seem like it captures conformance appropriately"
https://github.com/cncf/k8s-conformance/blob/master/reviewing.md

says

That won't be possible if the client is in a container and is produced at different intervals (using sonobuoy 1.7.3 for example).  And last I saw we were recommending release-1.8 as the conformance target?

Can we clarify what version.txt is supposed to be in instructions?

[2017-10-06 21:11] luxas opened #7 "Add kubeadm results?"
@timothysc @jbeda @roberthbailey Something to consider doing?

[2017-10-06 22:32] timothysc commented on #7
@luxas it's a provider validation of a complete stack...
So for our quick-start we will upload the sonobuoy results.  /cc @chuckha

[2017-10-07 07:16] luxas commented on #7
Ok, sorry, haven't had time to catch up with the final doc. That sounds good to me

[2017-10-09 22:48] mml commented on #6
@smarterclayton not sure I follow the question.  `version.txt` is generated by code added in heptio/kube-conformance#6.  I am already working on upstreaming that so the test itself generates this data (kubernetes/kubernetes#53551).

It is possible we need to cut new version of 1.7 and 1.8 `kube-conformance` docker images.  @timothysc would be able to do that.

In the absence of those, you can buil

[2017-10-10 18:54] timothysc commented on #6
We are planning a 0.9.0 release to match with 1.8.0/1.8.1 ... and will rev appropriately.

@mml Could you poke about getting your e2e patch into 1.8.1 please?

[2017-10-10 21:10] smarterclayton commented on #6
The problem with version is that it doesn't identify the vendor version for any distribution that has a commit history that is not in kubernetes/kubernetes.  If we think version.txt is important it needs to capture more than what client/server versions return

[2017-10-13 04:42] smarterclayton commented on #6
So in general I don't think it should be a requirement for the kubectl client to match the server.  The e2e tests expect a particular kubectl version, and in practice the conformance tests are validating that the *server* (i.e. the conformant kubernetes implementation) matches a set of expected API and runtime behavior.  I think kubectl in this case is part of the test suite, not part of the distr

[2017-10-13 20:27] mml commented on #6
@smarterclayton I see your point now.  Perhaps it's most important that the `client version` part of `version.txt` match *the directory you're submitting to*.  I think if we update the instructions, we're keeping the spirit of the check and unblocking you.  Correct?

[2017-10-14 01:26] smarterclayton commented on #6
Earlier the recommendation for 1.7 was to use the 1.8 suite (or at least,
that was the most recent recommendation discussed in the thread).  I'd
slightly prefer to run 1.8 against a 1.7 server since there are more tests,
but I can change to use the 1.7 test suite if necessary.

On Fri, Oct 13, 2017 at 4:28 PM, Matt Liggett <notifications@github.com>
wrote:

[2017-10-16 23:13] mml commented on #6
For now the instructions specify that the tests should match.  The reason for that is that we think the definition of "Kubernetes 1.7" is codified on the 1.7 branch.  You could imagine a future where Kubernetes `N.{M+1}` is the first version *without* behavior X, and so running those tests doesn't prove that the cluster is `N.M`.

If we need to discuss versioning further, happy to do so.  Maybe on

[2017-10-16 23:13] mml commented on #6
(Oh, and I will send a PR to fix the instructions.)

[2017-10-17 14:47] smarterclayton commented on #6
We had a discussion in the mailing list where we said to use 1.8 against 1.7.  However, if the fixes have been delivered to correct the issues in the 1.7 tests then I can update it again.

[2017-10-17 18:54] aaronlevy commented on #6
I'm also a little confused by this - why would tests @ v1.7.3 be the canonical version for all v1.7 clusters?

Shouldn't it either be highest patch version available, or at least same version that you're deploying / testing conformance? (I've never been aware of discussions to use next minor release)

[2017-10-17 20:37] smarterclayton commented on #6
I updated to build against release-1.7 kubectl and e2e and this is my version output:

[code]

This is using the release-1.7 branch kubectl, paired with the release-1.7 branch e2e tests, against OpenShift with Kube 1.7.6+patches.

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/16904/test_pull_request_origin_extended_conformance_k8s/10/

[2017-10-17 20:37] smarterclayton commented on #6
Does this satisfy the version constraints as written?

[2017-10-18 03:43] dankohn commented on #6
@smarterclayton Please note that I'm also happy for you to suggest revisions in the reviewing directions: https://github.com/cncf/k8s-conformance/pull/9#issuecomment-337448458

[2017-10-18 19:07] aaronlevy opened #17 "Tests should either match cluster version, or use latest patch version of same minor release"
The instructions currently point to using sonobuoy/e2e tests pinned at v1.7.3 for all v1.7 clusters https://github.com/cncf/k8s-conformance/blob/master/sonobuoy-conformance-1.7.yaml#L95

I would expect that the e2e tests should either match the same version as the cluster, or use the highest patch version for that minor release.

[2017-10-19 11:40] jolestar opened #20 "Can provide alternate image location instead of gcr.io"
As we all know, user can not visit gcr.io in China. So, it is hard to run k8s conformance program.
Can provide alternate image location (e.g.: hub.docker)  and support passing parameters to use alternate image location.
This need to make changes to sonobuoy and e2e.

[2017-10-19 11:51] dankohn commented on #20
CNCF isn't in a position to do the development ourselves, but if you or anyone else in China would like to run the necessary endpoint on a cloud in China, we would be happy to cover the cost.

Also, if you submit a pull request to the e2e test framework adding a (non-default) option for using the alternate endpoint, we would advocate for its adoption.

[2017-10-20 10:26] luxas commented on #17
cc @timothysc

[2017-10-21 00:31] timothysc commented on #17
As mentioned in the other issue, feel free to submit a PR to update the instructions.

[2017-10-21 04:12] stewart-yu opened #22 "should provide a conformance yaml for cluster with RABC closed"
Though command 'curl -L https://raw.githubusercontent.com/cncf/k8s-conformance/master/sonobuoy-conformance-1.7.yaml | kubectl apply -f -' , the result are right, But i think should provide a conformance yaml for cluster RABC closed.

[2017-10-23 22:37] aaronlevy commented on #17
@timothysc no newer v1.7.x images exist. If we're going to use this as the recommended way to run conformance tests - is it possible to get it built for every release? Otherwise maybe we could document building conformance test images (or auto-build conformance-only images) on their own?

I've just been using the go docker image with something like:

[code]

[2017-10-24 14:54] timothysc commented on #7
I'll close this issue per other comment.

[2017-10-24 14:54] #7 closed

[2017-10-24 14:58] timothysc commented on #20
@jolestar you can easily rebuild sonobuoy on your own and push to you your own repo:  https://github.com/heptio/sonobuoy

The real problem is getting all the e2e containers, b/c they are not a build artifact from the main repository.  I'm going to work with upstream in 1.9 to help support air-gap'd validation.

/cc @sampowers

[2017-10-24 15:01] timothysc commented on #17
Highest version is the answer b/c we now patch tests to be version aware and not every fix gets pulled back to the other series on a release.  So 1.8.x works properly on 1.7.y and has been validated on across a number of distros and envs.

Here is the Sonobuoy 0.9.0 example which will work for both 1.8 and 1.7 - https://github.com/heptio/sonobuoy/blob/release-0.9/examples/conformance.yaml

[2017-10-24 15:02] timothysc commented on #17
I'll PR the instructions to make it easier and to point to the other docs.

[2017-10-25 13:41] timothysc opened #27 "Tracking Issue - e2e Conformance Fixes & Enhancements"
This issue exists as a tracking reference for the community to reference on issues related to upstream changes to the e2e tests needed for the conformance effort(s).

## e2e: Internet connection test should not rely on ICMP achievement
* https://github.com/kubernetes/kubernetes/issues/51145
* https://github.com/kubernetes/kubernetes/pull/51287
* https://github.com/kubernetes/kubernetes/pull/53381

[2017-10-27 19:09] WilliamDenniss commented on #27
## Remove hostname label condition in SchedulerPredicates
https://github.com/kubernetes/kubernetes/pull/49253

[2017-10-27 21:07] timothysc commented on #27
## Use in-cluster kubeconfig (Fix in 1.8.3)
https://github.com/kubernetes/kubernetes/pull/53924

[2017-10-30 09:20] cpanato opened #31 "Suggestion in the folder structure"
I have a suggestion in the folder structure:
currently, we have this:
- vX.Y/$dir/
X.Y refers to the kubernetes major and minor version, and $dir is a short subdirectory name to hold the results for your product. Examples would be `gke` or `openshift`.

In our case, we can support multiple platforms like aws, `gcp, azure, metal...`
My suggestion is to add another level inside $dir to set the platf

[2017-10-30 20:12] #17 closed

[2017-10-31 01:42] timothysc commented on #6
My personal opinion is that we can tolerate +1 on the minor and it should be ok.  There were was conflict on #24

[2017-11-01 21:28] WilliamDenniss commented on #31
It's an interesting idea. I think you should submit for now using the flat structure (e.g. `$dir-$plat`). Let's see how things look once everyone has certified, and if the folders get out of hand, we could look at this idea to add sub-folders.

[2017-11-01 21:28] #31 closed

[2017-11-01 21:29] WilliamDenniss commented on #22
Let's discuss this at the next meetup.

[2017-11-03 14:22] pires commented on #27
h3. Replace capacity with allocatable to calculate pod resource
1.8 https://github.com/kubernetes/kubernetes/pull/47628
1.7 https://github.com/kubernetes/kubernetes/pull/54587 (still pending the release 1.7.10!)

[2017-11-03 14:38] pires opened #54 "the lack of 1.7.10 release is blocking a product from becoming conformant"
We've worked to identify [an issue in 1.7.x](https://github.com/kubernetes/kubernetes/issues/47627) and [backport a fix that is already available for 1.8.x to 1.7.x](https://github.com/kubernetes/kubernetes/pull/54587). Then, I asked the 1.7 branch release manager when we would have a release and was told it would happen this week, most probably yesterday. I've pinged the same release manager and

[2017-11-03 14:45] dankohn commented on #54
@WilliamDenniss can you please escalate this to SIG architecture. We can possibly make an exception for you in accepting a failing test if the only issue is waiting for a merge.

[2017-11-03 14:52] pires commented on #54
Thank you Dan! @smugcloud and/or @spahl should take it from here then.

[2017-11-03 16:32] msohn opened #55 "conformance test result tar.gz does not contain version.txt"
I ran conformance test on 3 kubernetes clusters deployed on AWS, Azure and GCE and consistently the plugins/e2e/results/ folder in the tar archive created by sonobuoy does not contain the version.txt file.

Steps I followed to run the tests:

- create kubernetes cluster, I deployed kubernetes v1.8.2
- run `$ curl -L https://raw.githubusercontent.com/cncf/k8s-conformance/master/sonobuoy-conformance

[2017-11-03 16:34] dankohn commented on #55
@timothysc Could you please comment.

[2017-11-03 16:52] timothysc commented on #55
To gather a version for submission simply run:

`kubectl version > version.txt`

In 1.8 we added log lines to the e2es on startup that verify the client and server version directly in the e2e results.

I'll PR a minor instruction update.

[2017-11-03 17:36] msohn commented on #55
thanks, this helped

Filed https://github.com/cncf/k8s-conformance/pull/56 with our test results

[2017-11-03 22:32] pires commented on #54
FYI 1.7.10 is out now.

[2017-11-03 22:32] #54 closed

[2017-11-05 12:16] pires commented on #27
## 1.7.x scheduler predicates test that may violate DNS label rules

bug: https://github.com/kubernetes/kubernetes/issues/55117
fix PR for review: https://github.com/kubernetes/kubernetes/pull/55118

[2017-11-07 23:56] WilliamDenniss commented on #27
## Tests make an assumption that the permissions on the /tmp dir have not been altered
fix PR (master): https://github.com/kubernetes/kubernetes/pull/54581

[2017-11-16 14:05] nkwangleiGIT opened #74 "Can we add conformance results for k8s 1.6.11?"
hi,
We're currently using k8s 1.6.11 as the base version of our product, is it valid to run against this version and get the test results?

As I can see the test results seems fine:
[code]

[2017-11-16 14:10] dankohn commented on #74
Conformance is only available for Kubernetes versions 1.7 and higher. So, no, those results are not valid.

[2017-11-16 14:10] #74 closed

[2017-11-16 14:12] nkwangleiGIT commented on #74
ok, we'll run against a higher version, thanks!

[2017-11-21 01:36] justinsb opened #84 "Conformance for community Kubernetes?"
How do community-maintained offerings participate in certification?  Is this a vendor-only program?

[2017-11-21 01:48] dankohn commented on #84
Community-maintained offerings are welcome to certify at no charge, but they require a maintainer to sign the document. Poseidon Typhoon is a current example: https://github.com/cncf/k8s-conformance/tree/master/v1.8/typhoon

[2017-11-21 01:48] #84 closed

[2017-11-22 03:59] dankohn commented on #6
This was resolved in https://github.com/cncf/k8s-conformance/commit/19212f4d304e261b6c66b288969339b4c2d4be1f#diff-832893d512e4929e92c510d2d3bdb772

[2017-11-22 03:59] #6 closed

[2017-11-22 04:01] dankohn commented on #55
Resolved with https://github.com/cncf/k8s-conformance/commit/8abd2c1a349e46d01958dff285d733055d4c0f36#diff-22b1984e9055744bcb6b52260dfdfb71

[2017-11-22 04:01] #55 closed

[2017-11-22 04:05] dankohn commented on #22
Closing for now, but @WilliamDenniss will bring up at the meeting at KubeCon.

[2017-11-22 04:05] #22 closed

[2017-11-22 04:33] dankohn commented on #20
9 of the 29 current Certified Kubernetes products are from mainland China, so this doesn't seem to be blocking them. CNCF is working to get an ICP license and Chinese CDN access to kubernetes.io, but it is still months off and wouldn't solve the issues around access to GitHub or container registries.

[2017-11-22 04:33] #20 closed

[2017-12-07 19:28] mlbiam opened #108 "Best way to run with user-interactive system?"
We want to certify OpenUnison's integration with k8s.  When I run the test cases to generate the certification data, should I be interacting with our system (and in turn interacting with the API server?) (PS: I'm at kubecon if someone is here to talk to)

Thanks

[2017-12-19 15:32] dankohn commented on #108
Do you ship your own version of K8s? If so, then that is what the test harness should be interacting with. Please reopen with other questions.

[2017-12-19 15:38] mlbiam commented on #108
@dankohn why are you closing an issue after asking a question?  I'm unable to re-open.  Looking at twistlock's certification, its not a standalone k8s distribution.  It installs into k8s.  OpenUnison does as well interacting with k8s via apis to manage RBAC and create projects.

[2017-12-19 15:43] dankohn commented on #108
I closed it because most people don't come back with follow-up questions. What implementation of K8s would you plan to certify against?

[2017-12-19 15:46] mlbiam commented on #108
we're agnostic, we work against any k8s deployment.  We do most of our testing against kubeadm.  Again I'm looking at Twistlock as an example.  They don't have a specific k8s deployment either.

[2017-12-19 15:51] dankohn commented on #108
The first step of Twistlock's conformance results are to install Twistlock on GCP: https://github.com/cncf/k8s-conformance/tree/master/v1.7/twistlock

It may be that you're looking to certify a Kubernetes application as opposed to a Kubernetes distribution. If so, we don't yet offer support for certifying applications.

[2017-12-19 15:59] mlbiam commented on #108
Right, but again twistlock isn't a distro and the certification steps don't mention a specific k8s distribution.  So is the automated script certifying twistlock or the underlying k8s distro on GCP?  Twistlock doesn't have its own k8s distribution, its meant to install into any k8s distro.  So the certification tests were run against a distro with twistlock installed on top of it.

I'm not trying

[2018-01-04 09:50] puja108 opened #125 "Update to latest version of sonobuoy"
The conformance tests are on 0.9 and current latest is 0.10.0 (https://github.com/heptio/sonobuoy/releases/tag/v0.10.0) released more than a month ago.

However, as the plugin definitions have changed (see release notes above), this might need a bit more work than just updating the image.

[2018-02-28 19:27] #125 closed

[2018-03-16 14:25] drpaneas opened #172 "New output?"
The output of the tests it used to be sth like:

[code]

Now we noticed that there are 2 additional lines at the end:

[code]

I would like to ask you where this string `Test Suite Passed` comes from and if it would be just enough to `grep` for this string to verify a successful test-run.

[2018-04-07 08:45] tamalsaha opened #185 "What are the plans for 1.10 tests?"

[2018-04-13 05:56] gyliu513 commented on #185
After some test with 1.10.0, 6 cases failed at https://github.com/kubernetes/kubernetes/issues/62517

[2018-04-16 06:32] gyliu513 commented on #185
Any feedback for this?

[2018-04-20 18:48] dankohn commented on #185
https://github.com/cncf/k8s-conformance/tree/master/v1.10/cdk
We've gotten our first v1.10 certification, so it seems feasible. If you're having specific tests fail, especially on vanilla Kubernetes, please open an issue with SIG-testing. (But please also paste the URL here for cross-reference.)

Closing for now, but we can reopen if there systemic issues.

[2018-04-20 18:48] #185 closed

[2018-04-20 18:49] dankohn commented on #172
It is generated by Sonobuoy and it should be fine to grep for that.

[2018-04-20 18:49] #172 closed

[2018-04-20 18:50] dankohn commented on #108
Twistlock withdrew their certification and we're not accepting add-on certification at this time, though it is an area we're exploring. Please participate in the mailing list to keep up on our progress.

[2018-04-20 18:50] #108 closed

[2018-04-20 18:52] mlbiam commented on #108
Thanks for following up!

[2018-04-22 07:05] gyliu513 opened #193 "3 cases for 1.10 conformance test failed"
Opened an issue here https://github.com/kubernetes/kubernetes/issues/62944

Can anyone help check?

[2018-04-23 06:56] gyliu513 commented on #185
I have fixed the conformance test issue at https://github.com/cncf/k8s-conformance/pull/194

/cc @dankohn

[2018-04-25 03:27] gyliu513 commented on #193
Code is merged.

[2018-04-25 03:27] #193 closed

[2018-05-24 17:35] AishSundar opened #220 "Tracking issue - Identify top Pod APIs to prioritize and increase Conformance coverage in v1.12"
As per guidance from Sig-Arch we will focus our Conformance coverage efforts first on areas where functionality can be swapped out by providers, specifically around Pod functionality(Node). Towards this for v1.12 we are working with Sig-Node to identify API endpoints to prioritize in the first round of conformance test authoring and define meaningful test scenarios / user journeys to automate.

Th

[2018-05-24 17:44] AishSundar commented on #220
/cc @jagosan
@kubernetes/sig-node-bugs

[2018-05-24 17:45] AishSundar opened #221 "Tracking issue - Identify API-Machinery e2e tests to be promoted to conformance and evaluate gaps in coverage"
As per guidance from Sig-Arch we will focus our Conformance coverage efforts first on areas where functionality can be swapped out by providers, specifically around testing etcd, watch. Towards this we will be working with Sig-API-Machinery to
(i) Add conformance coverage for following 2 scenarios in 1.11 - [PR#63947](https://github.com/kubernetes/kubernetes/pull/63947), [PR#61424](https://github.

[2018-05-24 20:16] AishSundar commented on #220
/cc @mayankg @akurylec @joseluis

[2018-05-24 20:16] AishSundar commented on #221
/cc @mayankg @akurylec @joseluis

[2018-05-24 20:18] AishSundar commented on #220
Here's the current PODs API coverage data from APISnoop

http://apisnoop.cncf.io/charts/other/e2e-master-20180524-kubetest-only-pods/index.html

[2018-05-24 20:32] wangzhen127 commented on #220
/cc @wangzhen127

[2018-05-30 22:47] wangzhen127 commented on #220
There are 2 questions:
1. Which pod APIs are important to start with?
2. What pod APIs are already covered in conformance tests and other e2e tests?

First of all, not every pod API is implemented in [client-go/kubernetes](https://github.com/kubernetes/client-go/tree/master/kubernetes), which the e2e tests are using. The ones implemented in client-go/kubernetes represent the often used ones. I thi

[2018-05-30 23:06] AishSundar commented on #220
Thanks for the initial analysis @wangzhen127 and narrowing down to a few APIs to focus on. @timothysc @dchen1107 as FYI, please let us know if these APIs look good to prioritize for Pod testing

As a next step let me run both conformance and non-conformance e2e tests and gather API coverage via both [apicoverage tool](https://github.com/kubernetes/test-infra/tree/master/experiment/coverage) and [A

[2018-05-31 01:22] krishshenoy opened #224 "Conformance tests fail with unexpected EOF"
Steps I executed
1. Deployed the yaml in my cluster sonobuoy-conformance.yaml
 kubectl apply -f sonobuoy-conformance.yaml
Output
namespace "sonobuoy" configured
serviceaccount "sonobuoy-serviceaccount" unchanged
clusterrolebinding "sonobuoy-serviceaccount" configured
clusterrole "sonobuoy-serviceaccount" configured
configmap "sonobuoy-config-cm" unchanged
configmap "sonobuoy-plugins-cm" unchanged

[2018-05-31 12:51] mgdevstack commented on #220
/cc @mgdevstack

[2018-05-31 17:02] wangzhen127 commented on #220
@AishSundar, the above are for rest API operations. Is there a plan to analyze the test coverage for pod spec?

[2018-05-31 17:20] wangzhen127 commented on #220
/cc @hh

[2018-05-31 18:30] AishSundar commented on #220
@wangzhen127 the current coverage tools only measure rest API coverage and its quite possible to have a API covered without full coverage on all fields in the Pod spec for it.

I look at it as a 2 step process. Step 1 is to identify APIs covered in existing e2e and Conformance tests. Then in step 2 dig a level deeper to (a) to map each covered API to existing e2e tests that exercise them, and (b)

[2018-05-31 21:37] AishSundar commented on #221
Tracking sheet - https://docs.google.com/spreadsheets/d/1p_xzVmK4uKC8oh1UBgXVcqGHC1YaYrppn55KrcgUyMk/edit#gid=0

[2018-06-14 17:29] AishSundar commented on #221
Working with Api-machinery SIG offline (@fedebongio, @jennybuckley), they have identified the following existing e2e tests to be promoted to conformance suite ([Tracker sheet](https://docs.google.com/spreadsheets/d/1p_xzVmK4uKC8oh1UBgXVcqGHC1YaYrppn55KrcgUyMk/edit#gid=0)).

* [sig-api-machinery] Aggregator Should be able to support the 1.7 Sample API Server using the current Aggregator (already in

[2018-06-14 18:35] AishSundar commented on #220
Update on the progress we have made so far on analyzing coverage of the [POD APIs prioritized here](https://github.com/cncf/k8s-conformance/issues/220#issuecomment-393344061)

* We have been working with APIsnoop to correlate e2e tests to the APIs they call, in an effort to identify which of these prioritized APIs are already covered in existing Conformance suite and in e2e tests (not in conforman

[2018-06-19 06:02] AishSundar commented on #220
xref https://github.com/kubernetes/kubernetes/issues/65173#issuecomment-398016437

[2018-06-25 19:18] AishSundar commented on #221
@fedebongio and @WilliamDenniss Need some clarity / guidance on promoting / rewriting the following e2e tests
* https://github.com/kubernetes/kubernetes/issues/65427
* https://github.com/kubernetes/kubernetes/issues/65428

[2018-06-26 00:52] selfmanagingresource commented on #27
What's the status of this issue? Should we close it out? It seems like all the dependent issues pointed to in the issue have been close/merged.

[2018-06-26 17:36] AishSundar commented on #220
As a followup on the AI from above, here's a draft tesplan for "PATCH /api/v1/namespaces/{namespace}/pods/{name}"

https://docs.google.com/spreadsheets/d/1q1JXwsZArA8kPfkD5K72NyYm233zBMC2sMFqQXWD19o/edit#gid=1547980847

@wangzhen127 @yujuhong will be reviewing the scenarios to identify ones that are worth adding and promoting to conformance

[2018-06-26 22:48] wangzhen127 commented on #220
I took a first pass and have some high level comments.

1. Patch contains 3 operation types: add, remove and update (keep the key, change the value). Most test scenarios cover add/remove, but not update, which should be included.

2. There are 3 patch types: json patch, json merge patch, and strategic merge patch. This is not mentioned in the test scenarios. I think they should all be tested. Stra

[2018-07-02 18:15] mkurylec commented on #220
Worked on all comments zhen.
Sharing with you a tab with all the "metadata" scenarios organized an expanded.
Please find [in this tab](https://docs.google.com/spreadsheets/d/1q1JXwsZArA8kPfkD5K72NyYm233zBMC2sMFqQXWD19o/edit#gid=2066583291).

I will do the same for "spec" section and let you know once ready.
Thanks a lot!

[2018-07-09 20:59] wangzhen127 commented on #220
Thanks! Overall looks ok to me. I added a few comments.

Also notice that initializer is going away, the new suggested way is to use [webhooks](https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#initializers) instead of initializer. So I am not sure whether we need to add tests for initializer. This is something to be decided by the testing team, I think.

I

[2018-07-12 18:11] AlexDiamanti opened #264 "panic when running conformance"
#kubectl logs -f -n sonobuoy sonobuoy

time="2018-07-12T18:06:01Z" level=info msg="Scanning plugins in ./plugins.d (pwd: /)"
time="2018-07-12T18:06:01Z" level=info msg="unknown template type" filename=..2018_07_12_18_05_58.722885278
time="2018-07-12T18:06:01Z" level=info msg="unknown template type" filename=..data
time="2018-07-12T18:06:01Z" level=info msg="Scanning plugins in /etc/sonobuoy/plugin

[2018-07-16 18:58] mkurylec commented on #220
Let me know if [this](https://docs.google.com/spreadsheets/d/1q1JXwsZArA8kPfkD5K72NyYm233zBMC2sMFqQXWD19o/edit#gid=1299709345) is easier to read. Also please suggest what would be the next steps. Thanks a lot!

[2018-07-18 04:36] bgrant0607 commented on #220
@AishSundar @wangzhen127

Most fields of pods cannot be updated.

In any case, the apiserver operations are unlikely to behave significantly differently than for other resources, all flavors of update share most of their implementations, and the apiserver implementation is independent of scheduler, kubelet, CRI, and CNI implementations. The latter are known to have multiple implementations.

There

[2018-07-27 04:46] lachie83 opened #270 "Conformance tests failing"
I'm having issues running the conformance tests which appear to be fixed in upstream sonobuoy.

eg. https://github.com/heptio/sonobuoy/issues/425 https://github.com/heptio/sonobuoy/issues/399

Is master in this repository known to work? I did get it to pass on a 1.9 cluster but NOT 1.10 and 1.11

I'm trying to test conformance on 1.10 and 1.11 clusters.

cc @chuckha @timothysc

[2018-07-27 14:59] lachie83 commented on #270
Okay thanks. Happy to take it for a test run once you do.

[2018-07-27 17:04] spiffxp opened #273 "Missing conformance docs for 1.10 and 1.11"
We have https://github.com/cncf/k8s-conformance/blob/master/docs/KubeConformance-1.9.md but not the 1.10 and 1.11 variants.

ref: https://github.com/cncf/k8s-conformance/pull/109

I am interested in how these are generated in whether it can be automated so I'll be taking a crack at this.

[2018-07-27 17:25] spiffxp opened #275 "Conformance test names and descriptions are redundant, missing or inconsistent"
ref: https://github.com/kubernetes/community/blob/master/contributors/devel/conformance-tests.md#sample-conformance-test

I would like all of the existing conformance tests to have consistent formatting, and descriptions.  Someone should be able to read this doc and feel like all behaviors of a given resource are adequately captured in this doc.

I am interested first and foremost on these changes

[2018-07-27 23:48] spiffxp commented on #273
I can't seem to find any docs for how these were generated but I think I found the PR that added the code.  Things are hardcoded.  Generating them today would require some manual hacking around.  I will start there and see how we can iterate

[2018-07-28 00:53] brahmaroutu commented on #275
I agree, Testnames, Description part the comment section should be iterated properly. To the best of my knowledge I have added description and tried grouping tests using test name prefixes, etc.

I do understand that a carefully crafted Describe+Context+It blocks should make a human readable string that the the tool can use in place for Description. But having a Description field in the comment se

[2018-07-30 23:11] timothysc commented on #27
Closing, these were done long ago.

[2018-07-30 23:11] #27 closed

[2018-07-30 23:15] timothysc commented on #273
I'm PRing to simplify the instructions.

[2018-07-30 23:15] timothysc commented on #270
@lachie83 - PR up and we rev'd v0.11.5 today.

[2018-07-31 00:15] timothysc commented on #273
So this work was originally intended to be autogenerated and published with the main docs for every release.

[2018-07-31 00:51] timothysc commented on #273
The IBM folks, namely @brahmaroutu , we're leading that effort.

[2018-07-31 19:38] #270 closed

[2018-07-31 19:38] #224 closed

[2018-08-09 08:06] thdrnsdk opened #289 "Missing sonobuoy-conformance.yaml file to test"
Hello

A few days ago, there was a conformance test deployment file but it was gone.
(https://github.com/cncf/k8s-conformance/blob/master/sonobuoy-conformance.yaml)

So now you do not have a way to run pod without having to build sonobuoy?

[2018-08-20 23:07] openstacker commented on #289
Hi @thdrnsdk , the sonobuoy-conformance.yaml has been removed. And now you can use the sonobuoy cli to run the test, see https://github.com/cncf/k8s-conformance/blob/master/instructions.md#running

[2018-08-21 21:34] WilliamDenniss opened #299 "ClusterRoleBinding required to use Sonobuoy on GKE"
On GKE, the default permissions don't allow Sonobuoy to be run (you'll get an error when creating the RBAC policies).

First you need to grant the cluster-admin clusterrole to your user:

[code]

Is this the case for other environments? Should these instructions be included in https://github.com/cncf/k8s-conformance/blob/master/instructions.md?

[2018-08-22 18:31] timothysc opened #304 "Move Sonobuoy - Kube_Conformance container upstream"
Ideally we move this into upstream and update tests so the skip list is no longer needed.

[2018-08-27 20:23] brahmaroutu opened #310 "Automate the generation of the Conformance Document"
As part of the release process we should generate the conformance document and check it into kubernetes documents

- the release build should trigger a prow plugin to create conformance document
- the generated conformance document should be attached to the release (like a release note)
- the generated document should also be checked under cncf/k8s-conformance/docs (optional)

[2018-09-26 19:48] spiffxp commented on #310
We discussed during today's meeting. @brahmaroutu is going to update with a proposal on how to have conformance docs generated as part of the release process.  cc @spiffxp @dims

[2018-10-15 05:30] gyliu513 opened #354 "How to submit conformance test result multiple times based on maintenance version"
If one Kubernetes release distributed two released based on Kubernetes 1.11, one is based on Kubernetes 1.11.2 and another is based on Kubernetes 1.11.3, then how to submit the conformance test?

Let us say the version is as following format:

[code]

I found that the conformance test only include version like `major.minor` but if I want to submit conformance test twice with same `major.minor` ver

[2018-10-15 11:44] dankohn commented on #354
Please just submit one conformance test for 1.11 (either 1.11.2 or 1.11.3 is OK). We don't track maintenance releases separately.

[2018-10-15 11:44] #354 closed

[2018-10-15 13:51] gyliu513 commented on #354
Good, thanks @dankohn

[2018-11-13 15:27] robel-yemane opened #377 "Dictionary on the conformance tests (& results)"
A dictionary/ meta-data about the failing conformance tests, with a bit of description would be really helpful for the operator running e2e tests.
At the moment some test results' description are quite comprehensible,  others are vague.

[2018-11-28 23:23] dhemeier opened #386 "Conformance tests with DenyEscalatingExec failing"
Hey,

when you created a cluster with the `DenyEscalatingExec` Admission Controller, then you have failing test `[k8s.io] KubeletManagedEtcHosts should test kubelet managed /etc/hosts file [NodeConformance] [Conformance]`

Output Logs:
[code]
Related Issue on Sonobuoy: https://github.com/heptio/sonobuoy/issues/558
The question I and @andrewrynhard has, is the result still okay for acceptance or ne

[2018-12-13 00:57] PatrickLang commented on #273
+ v1.13 too

[2019-01-10 19:39] brahmaroutu opened #429 "Tracking Issue - Conformance Coverage for Graceful Termination"
This is a place holder to track Conformance Coverage on the Topic.
This issue should remain open until all related work is accomplished in the k/k repo
This issue will contain analysis of the coverage. Existing tests and additional tests requested with links to those issues/PR's

[2019-01-10 19:40] brahmaroutu opened #430 "Tracking Issue - Conformance Coverage for PreStop Lifecycle Hooks"
This is a place holder to track Conformance Coverage on the Topic.
This issue should remain open until all related work is accomplished in the k/k repo
This issue will contain analysis of the coverage. Existing tests and additional tests requested with links to those issues/PR's

Interaction between preStop lifecycle hooks and terminationGracePeriodSeconds activeDeadlineSeconds (the only test that

[2019-01-10 19:41] brahmaroutu opened #431 "Tracking Issue - Conformance Coverage for Shared Container Namespaces"
This is a place holder to track Conformance Coverage on the Topic.
This issue should remain open until all related work is accomplished in the k/k repo
This issue will contain analysis of the coverage. Existing tests and additional tests requested with links to those issues/PR's

[2019-01-10 19:42] brahmaroutu opened #432 "Tracking Issue - Conformance Coverage for Shared Volumes between Containers in a Pod"
This is a place holder to track Conformance Coverage on the Topic.
This issue should remain open until all related work is accomplished in the k/k repo
This issue will contain analysis of the coverage. Existing tests and additional tests requested with links to those issues/PR's

[2019-01-10 19:43] brahmaroutu opened #433 "Tracking Issue - Conformance Coverage for Container Image updates"
This is a place holder to track Conformance Coverage on the Topic.
This issue should remain open until all related work is accomplished in the k/k repo
This issue will contain analysis of the coverage. Existing tests and additional tests requested with links to those issues/PR's

[2019-01-10 19:44] brahmaroutu opened #434 "Tracking Issue - Conformance Coverage for HostAliases"
This is a place holder to track Conformance Coverage on the Topic.
This issue should remain open until all related work is accomplished in the k/k repo
This issue will contain analysis of the coverage. Existing tests and additional tests requested with links to those issues/PR's

[2019-01-10 19:45] brahmaroutu opened #435 "Tracking Issue - Conformance Coverage for Networking"
This is a place holder to track Conformance Coverage on the Topic.
This issue should remain open until all related work is accomplished in the k/k repo
This issue will contain analysis of the coverage. Existing tests and additional tests requested with links to those issues/PR's

Specifically address CNI networking, identify tests that tests pod-pod communication

[2019-01-10 19:46] brahmaroutu opened #436 "Tracking Issue - Conformance Coverage for Scheduler"
This is a place holder to track Conformance Coverage on the Topic.
This issue should remain open until all related work is accomplished in the k/k repo
This issue will contain analysis of the coverage. Existing tests and additional tests requested with links to those issues/PR's

[2019-01-10 19:47] brahmaroutu opened #437 "Tracking Issue - Conformance Coverage for Etcd"
This is a place holder to track Conformance Coverage on the Topic.
This issue should remain open until all related work is accomplished in the k/k repo
This issue will contain analysis of the coverage. Existing tests and additional tests requested with links to those issues/PR's

Identify tests the tests general and pluggable behavior for persistence wrt etcd.

[2019-01-10 19:56] brahmaroutu commented on #437
as indicated by @timothysc
There have been multiple proposals and even a PR to replace Etcd with other storage systems, and we've upgraded Etcd across major versions (from 2 to 3), so Apiserver behaviors that are dependent on Etcd (optimistic concurrency, watch, Event TTL) should be covered. SIG API Machinery should help with that. They did add some watch tests already.

[2019-01-10 19:59] brahmaroutu opened #438 "Tracking Issue - Conformance Coverage for Kube-proxy"
This is a place holder to track Conformance Coverage on the Topic.
This issue should remain open until all related work is accomplished in the k/k repo
This issue will contain analysis of the coverage. Existing tests and additional tests requested with links to those issues/PR's

[2019-01-11 04:56] pontiyaraja commented on #432
/assign

[2019-01-11 04:59] pontiyaraja commented on #430
/assign

[2019-01-21 06:18] pontiyaraja commented on #430
raised PR for this https://github.com/kubernetes/kubernetes/pull/72087

[2019-01-21 06:19] pontiyaraja commented on #429
raised PR for this https://github.com/kubernetes/kubernetes/pull/72191

[2019-01-21 15:49] pontiyaraja commented on #429
/assign @pontiyaraja

[2019-01-21 15:53] pontiyaraja commented on #432
/assign @pontiyaraja

[2019-01-22 16:24] msau42 commented on #432
/cc

[2019-01-24 11:11] mgdevstack commented on #434
There is only one e2e test which is Conformance, verifying hostAlias Pod Spec behavior.

**Test Description**: Create a Pod with hostAliases and a container with command to output `/etc/hosts` entries. Pod's logs MUST have matching entries of specified hostAliases to the output of `/etc/hosts` entries.

Seeking SIG's attention on -
1. What can be other edgecase/user scenarios should we consider to

[2019-01-28 20:15] brahmaroutu commented on #436
https://github.com/kubernetes/kubernetes/issues/73422

[2019-01-28 20:15] #436 closed

[2019-01-28 20:17] brahmaroutu commented on #438
https://github.com/kubernetes/kubernetes/issues/73423

[2019-01-28 20:17] #438 closed

[2019-01-28 20:19] brahmaroutu commented on #437
https://github.com/kubernetes/kubernetes/issues/73424

[2019-01-28 20:19] #437 closed

[2019-01-28 20:21] brahmaroutu commented on #435
https://github.com/kubernetes/kubernetes/issues/73425

[2019-01-28 20:21] #435 closed

[2019-01-28 21:16] brahmaroutu commented on #434
Please use the following PR: https://github.com/kubernetes/kubernetes/issues/73426

[2019-01-28 21:16] #434 closed

[2019-01-28 21:18] brahmaroutu commented on #433
https://github.com/kubernetes/kubernetes/issues/73428

[2019-01-28 21:18] #433 closed

[2019-01-28 21:21] brahmaroutu commented on #432
closing because a issue will be tracked under k/k https://github.com/kubernetes/kubernetes/issues/73429

[2019-01-28 21:21] #432 closed

[2019-01-28 21:22] brahmaroutu commented on #431
https://github.com/kubernetes/kubernetes/issues/73430

[2019-01-28 21:22] #431 closed

[2019-01-28 22:00] brahmaroutu commented on #429
Please use the issue in k/k https://github.com/kubernetes/kubernetes/issues/73433

[2019-01-28 22:00] #429 closed

[2019-01-29 19:51] lachie83 opened #453 "AKS naming collision"
It looks like in 1.13 conformance that the aks directory name (that was used by Azure Kubernetes Service) prior to 1.13 has now been used by Alauda Kubernetes (AKS).
Reference:

https://github.com/cncf/k8s-conformance/tree/master/v1.13/aks
https://github.com/cncf/k8s-conformance/tree/master/v1.12/aks
https://github.com/cncf/k8s-conformance/tree/master/v1.11/aks
https://github.com/cncf/k8s-conforma

[2019-01-31 02:17] dankohn commented on #453
That sounds reasonable. If you wouldn't mind opening a PR to do so, I'll approve.

[2019-01-31 03:40] WilliamDenniss commented on #453
Another approach is to reserve the namespace for the party who first used it. In this case renaming just ‘alauda-aks‘. That would be how I’d want to see our registration treated if this happened to us.

[2019-02-01 22:12] lachie83 commented on #453
@dankohn @WilliamDenniss I actually prefer William's approach and have submitted a PR that implements that approach by moving the aks directory under v1.13 to alauda-aks. If we are all in agreement please feel free to merge

[2019-02-03 02:09] jing2uo commented on #453
@cimomo

[2019-02-03 02:33] cimomo commented on #453
Hi @lachie83 , we can rename our directory as alauda-kubernetes. Could you update your PR to reflect this? Thanks.

[2019-02-04 19:22] #453 closed

[2019-02-12 19:05] mpw07458 commented on #20
Hi, is it possible to reopen this? I am using AWS China cloud with Kubespray and have run into the repo issue, is a workaround to copy the binaries to AWS S3?

[2019-03-13 19:18] andrewrynhard commented on #386
We are nearing a release of our distro that we would like get certified. Anyone able to give an update on this?

[2019-03-18 14:40] bgrant0607 commented on #386
That admission policy is deprecated.

https://github.com/kubernetes/kubernetes/pull/72737

[2019-03-18 14:52] timothysc commented on #386
If it's planned to be deprecated, should we have removed the conformance label with the deprecation change?  We don't have policy around removing the label...

[2019-03-18 14:58] bgrant0607 commented on #386
We don't have tests of that plugin. Clusters configured with the plugin
fail. More generally, we don't have a testsuite for roles with restricted
privileges yet.

On Mon, Mar 18, 2019, 7:52 AM Timothy St. Clair <notifications@github.com>
wrote:

[2019-03-19 20:08] timothysc commented on #386
k, it's pretty clear that this plugin-option will violate some assumptions on behavior and prevents some conformance tests from running.  The reason we don't see this in CI, is it's not enabled in any of the release blocking test suites.

All documentation points to: "Use of a policy-based admission plugin (like PodSecurityPolicy or a custom admission plugin) which can be targeted at specific user

[2019-03-19 20:08] #386 closed

[2019-06-17 05:04] hh commented on #273
https://github.com/cncf/k8s-conformance/pull/622

[2019-06-20 09:53] alanpeng opened #630 "latest version of Sonobuoy does not support v1.15.0"
Running plugins: e2e, systemd-logs
ERRO[0000] Preflight checks failed
ERRO[0000] maximum kubernetes version is 1.14.99, got v1.15.0

But the question is: How did Microsoft/aks-engine pass the conformance test?

[2019-06-20 15:40] kandros commented on #630
I had the same question, I figured out they must have used the flag `--skip-preflight` of Sonobuoy.

I checked the `go` code in sonobuoy to understand if skilling preflight could impact in any way the tests or skip anything but that's not the case, it just check if a namespace name already exists, if the pod networking is working and the k8s version.

I had all the tests pass in using v1.15

[2019-06-20 15:42] alanpeng commented on #630
Thank you very much. I will give it a try soon.

[2019-06-20 15:42] #630 closed

[2019-06-24 12:56] huzy96 opened #640 "Kubectl logs should be able to retrieve and filter logs"
When I used sonobuoy for Software conformance, the following failures occurred
[code]
This problem has been mentioned on [this page](https://github.com/kubernetes/kubernetes/issues/20224), but it has been solved.
Why did I encounter this problem?
Who can help me with this? I'm very grateful.

[2019-07-01 10:37] #640 closed

[2019-08-05 01:22] heyste commented on #310
@brahmaroutu  While trying to create the conformance docs for [1.10, 1.12, 1.13, 1.14 and 1.15](https://github.com/cncf/k8s-conformance/pull/622) I ran into a few problems.

- The template for the markdown document is in master which caused issues when checking out other kubernetes versions before creating the docs for that version.

- To generate the document for 1.10 required removing the regex

[2019-08-05 23:19] CraigSterrett opened #672 "Branding Guide link invalid"
The terms and conditions doc https://github.com/cncf/k8s-conformance/blob/master/terms-conditions/Certified_Kubernetes_Terms.md has a link to a "Branding Guide". That link is not valid https://github.com/cncf/artwork/blob/master/kubernetes/certified-kubernetes/certified-kubernetes-brand-guide.pdf
This blocks our ability to fill out the Participation Form

[2019-08-05 23:22] #672 closed

[2019-08-05 23:22] dankohn commented on #672
Thanks for pointing that out.

[2019-08-20 06:35] zhangxingdeppon opened #686 "How can I replace the image registry address to my private registry address？"
Hi buddy，I want to run "sonobuoy run",but it's not success,
 because the server  in our company can't accesse the image registry address,for example gcr.io;
<pre><code>
Events:
  Type     Reason     Age                From                   Message
  ----     ------     ----               ----                   -------
  Normal   Scheduled  28s                default-scheduler      Successfully as

[2019-08-20 14:39] dankohn commented on #686
Yes, we understand that the image registry isn't available in China without a VPN. Could you please make an account on slack.k8s.io and ask your question on the #k8s-conformance channel. If you can't use Slack, you can also email your question to cncf-k8s-conformance@lists.cncf.io.

[2019-08-21 01:05] zhangxingdeppon commented on #686
ok, it's not the real reason.
because our production environment cannot connect to an external network,just private network；so I must push the relational image push to our private image registry so that application can pull it successesly，but the tool “sonobuoy ” doesn't have related parameters to configue registry address;
and maybe I can send email.LOL,thanks.

[2019-08-21 01:58] dankohn commented on #686
It should be possible to use Sonobuoy in an airgapped mode but it would be best to discuss on Slack.

[2019-08-21 10:02] zhangxingdeppon commented on #686
okay，Thank you very much.

[2019-09-17 13:12] aromiprawitharomansa15 opened #717 "ARomi Prawitha Romansa"
### 11151995
999999999
666666666
12345
1234567#170845/indonesia

[2019-09-17 13:21] #717 closed

[2019-10-11 22:32] vadbluedata opened #746 "Conformance test fails if Docker is started with --log-driver=journald option."
The [sig-cli] test `Kubectl logs should be able to retrieve and filter logs` fails when Docker is started with `--log-driver=journald` option. The` --limit-bytes` option of the `kubectl logs` command is ignored, and all the pod's log is returned instead of just the expected number of bytes, which causes the test to fail. Everything works ok if Docker is started with `--log-driver=json-file` option

[2019-10-30 10:58] MarcelMue opened #759 "Accepted conformance tests run without full test suite"
While looking through past conformance test results for comparison of our own I noticed that some results show not the full test suit being run.

Here is a set of notable examples in the 1.15 conformance tests :
- `sap-cp-aws` [log](https://raw.githubusercontent.com/cncf/k8s-conformance/master/v1.15/sap-cp-aws/e2e.log)
- `sap-cp-azure` [log](https://raw.githubusercontent.com/cncf/k8s-conformance/m

[2019-10-30 14:21] timothysc commented on #759
I don't have time to dig into why there is a delta @johnSchnake can you look quick to see what the delta is here?

[2019-10-30 15:13] johnSchnake commented on #759
Making notes as I review this:
 - The line `Conformance test: not doing test setup.` comes from `hack/ginkgo_e2e.sh` which would make me assume this wasn't generated via running Sonobuoy (which is fine, but just FYI). Sonobuoy is recommended but not required.
 - The instructions for the first item in your list [sap-cp-aws](https://github.com/cncf/k8s-conformance/tree/master/v1.15/sap-cp-aws) gives

[2019-10-30 18:35] johnSchnake commented on #759
All 3 of those tests were also added to Conformance in v1.15; but the SHA in the logs for the test matches the SHA in my test run with 215 test so I don't think that could account for it.

@OlegLoewen You were the one to submit for at least some of these; could you clarify how these runs were obtained? They indicate they used a sonobuoy yaml script which hasn't existed for some time and also would

[2019-10-30 22:13] hh commented on #759
@johnSchnake and I will take a closer look at this together tomorrow

[2019-10-30 22:36] MarcelMue commented on #759
Let me know if I can helpful in any way.

I looked through the docs for conformance tests and noticed that the `Reviewing Guidelines` only make loose statements on the number of test cases in number 5: https://github.com/cncf/k8s-conformance/blob/master/reviewing.md#technical-requirements
Would it make sense to set the number of test cases? Changing the number of test cases would then also require

[2019-10-31 09:59] OlegLoewen commented on #759
@johnSchnake I have found the root cause for the missing testcases. It was an unfortunate misconfiguration of our test case list file. I will fix it soon as possible and reupload the test results. Let me explain how this test results have been obtained:

At first, the description of how to reproduce the test results [sap-cp-aws](https://github.com/cncf/k8s-conformance/tree/master/v1.15/sap-cp-aws)

[2019-10-31 14:03] johnSchnake commented on #759
The config here: https://github.com/gardener/test-infra/blob/68c3d60171fcb7d36b39d86935d14f5ea55064d6/integration-tests/e2e/kubetest/description/1.16/working.json#L3 makes it look the link between the `testcasegroup` you mention and how to set the focus/skip on the actual run, is that correct?

FWIW, for conformance certification runs you should be just setting the focus to `[Conformance]` and not

[2019-10-31 14:26] OlegLoewen commented on #759
The mentioned test cases weren't conformance-tagged in previous k8s release version. So since I have reused the description file of previous k8s release version for 1.15, these test cases were already assigned to the group fast/slow but not conformance, which is the reason why they have been discarded during the test suite execution. This [commit](https://github.com/gardener/test-infra/commit/68c3

[2019-10-31 17:39] hh opened #760 "Prow Job to Automate Verification of Conformance Log Submissions"
It might help to have some automation around Conformance Log Submissions
- [x] Setup Prow for the CNCF org
  - @cjwagner has the k8s-test-infra creds / @idvoretskyi has the CNCF org creds
  - https://github.com/kubernetes/test-infra/blob/master/prow/getting_started_deploy.md#add-the-webhook-to-github
- [ ] Setup tide tags for cncf/k8s-conformance
- [ ] Setup pre-submit job
- [ ] Generate Complete

[2019-10-31 17:42] hh commented on #760
Ticket for Generating Full List of Tests with metadata and full test names:

https://github.com/kubernetes/kubernetes/issues/84330#issuecomment-548490040

[2019-10-31 17:54] hh commented on #759
I agree with @johnSchnake regarding enforcement a specific list of tests in a single test run.

I've created a ticket for creating a Prow Job to run before submissions can be accepted.

https://github.com/cncf/k8s-conformance/issues/759

[2019-11-01 16:55] johnSchnake commented on #304
This has already been done; the upstream image code lives at: https://github.com/kubernetes/kubernetes/tree/master/cluster/images/conformance

And the images published to: https://console.cloud.google.com/gcr/images/google-containers/GLOBAL/conformance?gcrImageListsize=30

This ticket can be closed.

[2019-11-01 16:58] johnSchnake commented on #299
This is documented on the Sonobuoy README (https://sonobuoy.io/docs/v0.16.2/#known-issues) but do you know if this is still the case? I had a recent experience with a GKE where I created a cluster and ran Sonobuoy without an issue.

[2019-11-01 17:00] johnSchnake commented on #264
This issue should be closed; the panic occurs during the query logic which as completely changed since this ticket was created.

[2019-11-01 18:06] #264 closed

[2019-11-01 18:49] johnSchnake commented on #686
I'm not sure if you found the help you needed on slack, but see the docs at https://sonobuoy.io/docs/v0.16.2/airgap/. It is possible to overwrite the registries used for the tests.

[2019-11-05 18:31] hh commented on #760
@idvoretskyi We need to coordinate with @cjwagner to give prow.k8s.io access to the CNCF org as the first step in configuring prow/tide etc.

[2019-11-11 21:14] hh commented on #760
/assign @caniszczyk
Can you work with @idvoretskyi / @cjwagner regarding cncf/org permissions required to setup prow.k8s.io

https://github.com/kubernetes/test-infra/blob/master/prow/getting_started_deploy.md#add-the-webhook-to-github

[2019-11-21 13:50] hh commented on #760
/assign @dankohn

We need to grant @cjwagner temprorary cncf github org admin in order to setup the necessary org <-> prow integrations.

There are secrets on both sides regarding the k8s infra and cncf org event hooks.

We can remove admin rights once the integration is setup.

[2019-12-03 18:28] cjwagner commented on #760
CNCF org level webhooks have been configured for prow.k8s.io.

[2019-12-03 22:38] hh commented on #760
/assign @hh

[2019-12-17 22:22] jdef commented on #746
I've observed the same problem in our test cluster

[2020-01-13 15:10] zhangxingdeppon commented on #686
okay, thanks very much, I will try it again.

[2020-04-20 22:40] hh commented on #760
We will need to migrate the web hooks over to prow.cncf.io when it's brought up.

[2020-04-29 00:38] hh commented on #760
@idvoretskyi can you add https://github.com/cncf-ci as an admin to https://github.com/cncf/k8s-conformance. WE'll need this to setup a cncf owned bot for use with prow.cncf.io.

[2020-04-29 10:43] idvoretskyi commented on #760
This is solved, I assume.

[2020-05-27 11:24] MrYourM opened #981 "sonobuoy images pull err"
Hi
I configure gcloud and docker by docs https://cloud.google.com/container-registry/docs/advanced-authentication
However, when i pull images with
[code]
get a result

[code]
Does sonobuoy have other limits?
What should i do?

[2020-06-09 06:15] #981 closed

[2020-08-10 18:56] vasu-git opened #1061 "e2e tests are failing"
I am trying to run sonobuoy conformance test for one of our k8s clusters.
However it is failing due to the following error:

`Aug  4 23:04:12.065: FAIL: Unexpected error:
    <*errors.errorString | 0xc0000bb000>: {
        s: "timed out waiting for the condition",
    }
    timed out waiting for the condition
occurred
Failure [1800.092 seconds]
[BeforeSuite] BeforeSuite
_output/dockerized/go/src/k

[2020-10-06 09:20] mohjam2004 opened #1152 "Conformance Test: some [sig-network] tests failed."
I have run conformance test (by sonobuoy) on my cluster and I have some failures. my kubernetes version is 1.18.3. I have run the tests many times and the result is the same all the time:
Plugin: e2e
Status: failed
Total: 4992
Passed: 266
Failed: 9
Skipped: 4717

Failed tests:
[sig-network] Services should be able to change the type from ClusterIP to ExternalName [Conformance]
[sig-network] DNS sh

[2020-11-24 14:41] Rivka-Elm opened #1215 "Attempt to run sonobuoy on K8s cluster failed at pull images for the container."
Attempt to run sonobuoy on K8s cluster failed at pull images for the container.

Step to reproduce:
1. docker pull projects.registry.vmware.com/sonobuoy/sonobuoy:v0.19.0
2.  docker tag projects.registry.vmware.com/sonobuoy/sonobuoy:v0.19.0  my-registry:5000/projects.registry.vmware.com/sonobuoy/sonobuoy:v0.19.
3. docker push  my-registry:5000/projects.registry.vmware.com/sonobuoy/sonobuoy:v0.19.0

[2020-12-07 12:17] MarcelMue commented on #759
AFAICT test runs are now automatically checked for completeness. Should this issue be closed?

[2020-12-07 19:03] #1215 closed

[2020-12-25 18:10] sakshamgurbhele opened #1274 "README.md : Fix spelling and grammar"
there are minor articles and grammar errors.

[2020-12-25 18:11] sakshamgurbhele commented on #1274
can I work on this?

[2021-01-14 02:44] taylorwaggoner commented on #1274
Hi @sakshamgurbhele feel free to submit a pull request to fix any errors

[2021-01-14 02:44] #1274 closed

[2021-04-23 04:46] projuri opened #1397 "conformance v1.18.7 & v1.18.8 fails with Pod entered a fatal terminal status: failed"
Hello,

Running sonobuoy conformance test works with v1.18.6, but fails with v1.18.7 and v1.18.8.

How would you usually troubleshoot those issues?

[code]

Sonobuoy logs
[code]

Thank you in advance

[2021-04-23 05:25] projuri commented on #1397
[code]
Solve. It appears that `v.1.18.8` image doesn't exist, and link is misleading https://github.com/cncf/k8s-conformance/tree/master/v1.18/eks

[2021-04-23 05:25] #1397 closed

[2021-04-29 23:46] heyste opened #1407 "Missing conformance docs for 1.16-1.21"
https://github.com/cncf/k8s-conformance/blob/master/docs currently only has release documentation until 1.15.

Missing releases 1.16 - 21 documents.

[2021-05-17 18:12] bernokl commented on #760
/close The prowjob has been successfully monitoring k8s-conformance. This work is done

[2021-05-17 18:12] hh commented on #220
/close
This is now stale, we have <120 APIs to go!

[2021-05-17 18:15] hh commented on #221
/close
I think this issue is stale.

[2021-05-17 18:15] hh commented on #273
/close
This is merged!

[2021-05-17 18:17] hh commented on #289
/close
This issue is stale.

[2021-05-17 18:18] hh commented on #299
/close
This issue is stale.

[2021-05-17 18:18] hh commented on #304
/close

[2021-05-17 18:19] hh commented on #310
/assign @heyste

[2021-05-17 18:25] #1407 closed

[2021-05-17 18:27] #221 closed

[2021-05-17 18:27] #273 closed

[2021-05-17 18:30] #289 closed

[2021-05-17 18:30] #299 closed

[2021-05-17 18:30] #304 closed

[2021-05-17 18:30] #686 closed

[2021-05-17 18:31] #746 closed

[2021-05-17 18:31] #759 closed

[2021-05-17 18:31] #760 closed

[2021-05-17 18:32] #220 closed

[2021-05-17 18:42] bernokl opened #1427 "Update verify-conformance-tests to have better xml parsing"
This comes from:
https://github.com/cncf/k8s-conformance/pull/1418#issuecomment-842318249
This was a failed conformance submission that was a result of new formatting that was not planned for in the original code.

We want to update the following to allow for testsuite and testsuites
Update https://github.com/cncf-infra/prow-config/blob/9d3c12d48ea6dd8f42dfd864e047dffac1ea59b2/prow/external-plugin

[2021-05-25 17:48] BenTheElder commented on #1427
"what sonobuoy generates" for the e2e junit is actually "what the Kubernetes e2e binary generates".

It seems wrong to submit results that are not from the Kubernetes e2e binary.

[2021-05-25 20:37] bernokl commented on #1427
/cc @smarterclayton what did you use to generate your results? Is there a use case here?

[2021-06-10 00:30] bernokl commented on #1427
@smarterclayton would you like to keep this open?

[2021-06-20 16:56] Riaankl commented on #1427
/close
Seem to only be an edge case scenario

[2021-06-20 20:21] #1427 closed

[2021-06-20 20:22] bernokl commented on #1427
classify as flake

[2021-07-01 14:55] zenhighzer commented on #1152
same here,

8 x virtualbox-machines, each with two network-adapters (nat and host-only adapter):
- 1 x a dns-server/bind9 dns-lookups in generall are working fine between all vm´s
- 2 x loadbalancer-vm (haproxy: vip for control-plane-endpoint)
- running 3 x k8s-master-vm, 2 x k8s-worker-vm
- installed via. kubeadm and flannel

Plugin: e2e
Status: failed
Total: 5771
Passed: 329
Failed: 8
Skipped: 5

[2021-07-01 22:36] mohjam2004 commented on #1152
hi @zenhighzer
I think you have changed your default cluster domain name from cluster.local to some thing else.
you shoud run your cluster conformance test with an option switch by whitch you can specify you correct domain name to conformance test.

[2021-07-05 02:58] Wenshiqi222 opened #1533 "Our installer product doesn't have a website yet"
We are doing the conformance certification for our product k8s-installer, but we donnot create a website for the product yet,as i know the PRODUCT.yaml file has a "website"  filed ，so can i just skip this filed？

[2021-07-06 15:10] ErinThacker commented on #1533
@Wenshiqi222 - yes, you can skip this field.

[2021-07-07 06:36] Wenshiqi222 commented on #1533
thanks  a lot

[2021-07-07 06:36] #1533 closed

[2021-07-22 03:51] ruiyaoOps opened #1544 "After conformance certification, service not displayed in 'Certified Kubernetes - Hosted '."
https://github.com/cncf/k8s-conformance/pull/1504
In pr 1504, I had conformance certification for QKE on 9 Jun, but it was not displayed in 'Certified Kubernetes - Hosted ', why? What can I do?
![image](https://user-images.githubusercontent.com/35256376/126587835-ef03804b-4928-498b-8bea-bfbb736046e7.png)

[2021-07-22 15:42] ErinThacker commented on #1544
@ruiyaoOps - I'll take a look at this today and get a pull request in today. My apologies for my oversight.

[2021-07-26 06:58] ruiyaoOps commented on #1544
@ErinThacker I found it in Hosted, thank you very much.
I closed the issue.

[2021-07-26 06:58] #1544 closed

[2021-07-28 05:43] Syulin7 opened #1555 "Kubernetes Conformance - Expired Certification"
we have resubmitted the conformance certification in PR #1534 , but it was not displayed in 'Certified Kubernetes'( https://www.cncf.io/certification/software-conformance/ ). Please take a look.

![image](https://user-images.githubusercontent.com/37265556/127269767-90ba1d81-5c60-4f8a-8d5c-b567b60235c8.png)

[2021-07-28 05:44] Syulin7 commented on #1555
PTAL @ErinThacker

[2021-08-08 15:41] Syulin7 commented on #1555
@taylorwaggoner Please take a look and add to the Cloud Native landscape. Thanks!

[2021-08-19 03:18] tizhou86 commented on #1555
@ErinThacker Please let us know if anything we need to do, thanks!

[2021-08-29 13:26] #1555 closed

[2021-09-01 21:29] smarterclayton commented on #1427
This is summary of results generated by multiple executions of the kube e2e binary.  To do that, you have to merge the files somehow from those executions.  The tool I used was a simple merge tool, but you can absolutely run the kube e2e suite in multiple chunks and then have to merge the data afterwards.  I don't think conformance should be based only on "the kind of junit output created by a too

[2021-11-18 07:21] hsqlu opened #1698 "[cncf-ci checks failed] The acutal conformance test has passed."
The first test found to be mssing was [sig-node] NoExecuteTaintManager Single Pod [Serial] removing taint cancels eviction [Disruptive] [Conformance]

_Originally posted by @cncf-ci in https://github.com/cncf/k8s-conformance/issues/1697#issuecomment-972588759_

I am uploading my test result but the pr was failed by cncf-ci checks.
The missed test it said above was listed in the test file.
Can some

[2021-11-18 21:23] hsqlu commented on #1698
Resolved. Can be closed now.

[2021-11-18 21:23] #1698 closed

[2021-12-05 23:33] jayunit100 opened #1708 "Windows Operational Readiness formatting"
Hi folks: I'd like for results obtained from https://github.com/kubernetes/enhancements/issues/2578 to be an optional upload in this overall suite.

Although the KEP hasn't merged yet, I think were pretty close to finishing it, and, I'd like us to be able to upload e2e-windows.log for windows workload clusters once that takes place.

Currently, the way we generate comprehensive windows results is

[2022-04-21 08:20] hitorig commented on #1152
I set cluster domain name with cluster.local but it did not work

[2022-08-10 12:21] #377 closed

[2022-09-05 02:40] BobyMCbobs opened #2150 "Branch protection rules"
Today I added status badges for PRs, which you'll notice at the bottom of the PR
<img width="912" alt="Screen Shot 2022-09-05 at 14 39 00" src="https://user-images.githubusercontent.com/8588826/188350309-93cd9f16-15f7-4d8e-beff-ebaef8df3449.png">

While certainly not a requirement, there is now the option to enable branch protection requiring select status checks to be passing before a PR is merge

[2022-09-09 19:42] taylorwaggoner commented on #2150
@BobyMCbobs thanks! Just to clarify, say for example a company used a logo file that had the incorrect format, but I wanted to approve them anyway, I wouldn't be able to do so until they fixed the file format?

[2022-09-11 20:23] BobyMCbobs commented on #2150
@taylorwaggoner, that is correct

[2022-09-11 21:22] BobyMCbobs commented on #2150
Of course, at the same time, the bot should be updated to meet your criteria. So the bot could be updated to support the logo in whichever format.

[2022-11-01 20:34] heyste opened #2244 "Missing conformance docs for 1.22-1.25"
The [Conformance Tests per Release](https://github.com/cncf/k8s-conformance/blob/master/docs) have been generated until 1.21.

Missing the Conformance documentation for 1.22-1.25

[2022-11-01 20:58] #2244 closed

[2022-11-02 23:43] Riaankl opened #2251 "Add contact email as requiement for PRODUCT.yaml with Conformance submissions"
- Added contact email address as a [requiement for PRODUCT.yaml](https://github.com/cncf/k8s-conformance/blob/master/instructions.md#productyaml)
- Add check for email address to CNCF-CI bot check
- Update the list of CNCF-CI [Requiements](https://github.com/cncf/k8s-conformance/blob/master/instructions.md#requirements)

Explanation should be given that the email address would be use in case of an

[2022-11-06 17:49] Riaankl opened #2253 "GHA to Automate the generation of the Conformance Document"
@heyste update the Conformance release documentation for 1.22-25 #2245

Create a GHA to auto generate the PR for Conformance release documentation from 1.26 going forward.

Relate to [Automate the generation of the Conformance Document #310](https://github.com/cncf/k8s-conformance/issues/310)

[2022-11-06 20:21] Riaankl opened #2254 "Scrap commit email addresses for CNCF/K8s-Conformance for Conformance submissions for release 1.23-1.25"
We need the email addressses for sending out an Conformance change alert as discussed in [Slack](https://kubernetes.slack.com/archives/C78F00H99/p1667421895575939)

[2022-11-06 21:15] BobyMCbobs commented on #2254
There appears to be 153 commiters on v1.2{3,4,5} releases. 60 of which have noreply.github.com email address, to ignore or note.

[2022-11-06 21:34] Riaankl commented on #2254
Good job, thanks @BobyMCbobs

[2022-11-06 21:34] #2254 closed

[2022-11-06 22:10] BobyMCbobs commented on #2251
This will be quite straight-forward. Email validation will also be a helpful thing to have, so I'll rework the _the URL fields in the PRODUCT.yaml are valid URLs_ scenario to support both.

[2022-11-07 03:37] BobyMCbobs commented on #2251
PR: https://github.com/cncf/k8s-conformance/pull/2255

[2022-11-07 17:49] Riaankl opened #2256 "Roll out Prow Github actions on cncf/k8s-conformance for test in of /assign of multi github handles"
Why:
- Test PGA in a working repo
- support K8s-Conformance project with a [request.](https://kubernetes.slack.com/archives/C78F00H99/p1667422065666329)

[2022-11-07 17:53] RobertKielty commented on #2256
According to this the max number of assignees in an issue us 10 https://docs.github.com/en/issues/tracking-your-work-with-issues/assigning-issues-and-pull-requests-to-other-github-users

[2022-11-07 18:04] Riaankl commented on #2256
https://docs.github.com/en/account-and-profile/managing-subscriptions-and-notifications-on-github/setting-up-notifications/about-notifications

`@mentioned` might be the way forward?

[2022-11-07 18:06] Riaankl commented on #2256
@dims @smarterclayton

[2022-11-07 18:09] Riaankl commented on #2256
https://github.com/cncf/k8s-conformance/issues/2253

[2022-11-17 00:00] Riaankl commented on #2251
Proof to work effectively in the cncf/k8s-conformance repo

[2022-11-17 00:00] #2251 closed